.chip-main {
    background: #f7f7f7;
    border-radius: 6px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #626264;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0 10px;
    min-width: 50px;
    height: 48px;
    white-space: nowrap;
  }
  