<div class="topbar d-flex justify-content-between">
    <div class="topbar-start d-flex align-items-center">
      <img src="../../../../assets/menu_res.svg" class="menu_res pr-10" width="48px" height="48px" >
      <img src="../assets/toggle.svg" class="clickable toggle" width="48px" height="48px" (click)="toggleSidebar()">
    </div>
    <div class="topbar-end d-flex align-items-center">
      <div class="d-flex">
        <img src="../assets/Restaurant.svg" width="24px" height="24px">
        <span class="fs-14 pl-14">Da otto</span>
      </div>
      <img src="../../../assets/Menu.svg" width="140px" height="28px">
      <input type="search" class="search-input" #input placeholder="Search for Product (Press Enter to search)" >
      <!-- <img src="../assets/topbar-menu.svg" class="clickable pr-10 pl-10" (click) = "openFilter()" width="48px" height="48px"> -->
      <img src="../assets/cart.svg" width="48px" height="48px" class="clickable mr-10 ml-10">
    </div>
  </div>